.navbar {
  border-radius: 0;
}

.navbar-right {
  margin-right: 0;
}

li.article {
  list-style-type: none;
  margin: 10px;
}


li.media {
  list-style-type: none;
}

ul.articles {
  padding-left: 0px;
}

div.media {
  padding: 10px;
}

div.panel-sub {
  font-size: small;
}

.panel-title {
  font-size: x-large;
}
